absl-py==2.2.2
annotated-types==0.7.0
anyio==4.9.0
argcomplete==1.10.3
arrow==1.3.0
astunparse==1.6.3
attrs==25.3.0
audioread==3.0.1
beautifulsoup4==4.8.2
bitsandbytes==0.45.5
Brotli==1.1.0
certifi==2025.4.26
cffi==1.17.1
chardet==3.0.4
charset-normalizer==3.4.2
click==8.1.8
click-default-group==1.2.4
colorama==0.4.6
compressed-rtf==1.0.7
cramjam==2.10.0
cryptography==44.0.3
decorator==5.2.1
defusedxml==0.7.1
diskcache==5.6.3
distro==1.9.0
docx2txt==0.9
ebcdic==1.1.1
EbookLib==0.18
et_xmlfile==2.0.0
exceptiongroup==1.2.2
extract-msg==0.28.7
faiss-cpu==1.11.0
fastavro==1.10.0
fastjsonschema==2.21.1
fastkml==1.1.0
fastparquet==2024.11.0
filelock==3.18.0
flatbuffers==25.2.10
fsspec==2025.3.2
gast==0.6.0
google-pasta==0.2.0
GPUtil==1.4.0
greenlet==3.2.1
grpcio==1.71.0
h11==0.16.0
h5py==3.13.0
httpcore==1.0.9
httpx==0.28.1
huggingface-hub==0.14.1
idna==3.10
imageio==2.37.0
imageio-ffmpeg==0.6.0
IMAPClient==2.1.0
inflate64==1.0.1
Jinja2==3.1.6
jiter==0.9.0
joblib==1.5.0
jprops==2.0.2
jsonschema==4.23.0
jsonschema-specifications==2025.4.1
jupyter_core==5.7.2
keras==3.9.2
lazy_loader==0.4
libclang==18.1.1
librosa==0.11.0
llvmlite==0.44.0
loguru==0.7.2
lxml==5.4.0
Markdown==3.8
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
ml_dtypes==0.5.1
more-itertools==10.7.0
moviepy==2.1.2
mpmath==1.3.0
msgpack==1.1.0
multivolumefile==0.2.3
namex==0.0.9
nbformat==5.10.4
networkx==3.4.2
nltk==3.9.1
numba==0.61.2
numpy>=1.25.0,<2.3.0  
odfpy==1.4.1
olefile==0.47
onnx==1.17.0
openai==1.77.0
openai-whisper @ git+https://github.com/openai/whisper.git@517a43ecd132a2089d85f4ebc044728a71d49f6e
openpyxl==3.1.5
opt_einsum==3.4.0
optree==0.15.0
packaging==25.0
pandas==2.2.3
pathlib2==2.3.7.post1
patool==4.0.1
pdf2image==1.17.0
pdfplumber==0.5.28
pillow==10.2.0
platformdirs==4.3.7
pluggy==1.5.0
pooch==1.8.2
proglog==0.1.11
protobuf==5.29.4
psutil==5.9.5
py7zr==0.22.0
pyarrow==20.0.0
pybcj==1.0.6
pycparser==2.22
pycryptodome==3.22.0
pycryptodomex==3.22.0
pydantic==2.11.4
pydantic_core==2.33.2
pydub==0.25.1
pygeoif==1.5.1
Pygments==2.19.1
PyMuPDF==1.25.5
PyPDF2==3.0.1
pypdfium2==4.30.1
pyppmd==1.1.1
pyshp==2.3.1
pytesseract==0.3.10
python-dateutil==2.9.0.post0
python-docx==1.1.2
python-dotenv==1.1.0
python-magic-bin==0.4.14
python-pptx==0.6.23
pytz==2025.2
pywin32==310
pyxlsb==1.0.10
PyYAML==6.0.2
pyzstd==0.16.2
rarfile==4.2
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
rich==13.7.1
rpds-py==0.24.0
safetensors==0.5.3
scikit-learn==1.6.1
scipy==1.15.2
sentence-transformers==2.2.2
sentencepiece==0.2.0
six==1.12.0
sniffio==1.3.1
sortedcontainers==2.4.0
soundfile==0.13.1
soupsieve==2.7
soxr==0.5.0.post1
SpeechRecognition==3.8.1
SQLAlchemy==2.0.40
sqlite-fts4==1.0.3
sqlite-utils==3.38
sympy==1.14.0
tabulate==0.9.0
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow==2.19.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==3.1.0
texttable==1.7.0
threadpoolctl==3.6.0
tiktoken==0.9.0
tokenizers==0.13.3
toml==0.10.2
torch==2.7.0
torchvision==0.22.0
tqdm==4.67.1
traitlets==5.14.3
transformers==4.29.2
trimesh==4.6.8
types-python-dateutil==2.9.0.20241206
typing-inspection==0.4.0
typing_extensions==4.13.2
tzdata==2025.2
tzlocal==5.3.1
urllib3==2.4.0
Wand==0.6.13
Werkzeug==3.1.3
win32_setctime==1.2.0
wrapt==1.17.2
xlrd==1.2.0
XlsxWriter==3.2.3
